* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

#firstnumber {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
  min-height: 1.7rem;
}
#firstshow {
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0;
  min-height: 1.7rem;
}
.buttondesign {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid grey 0.1rem;
  background-color: white;
  font-size: 3rem;
  padding: 3rem 8rem;
  border-radius: 1rem;
  width: 100%;
}
.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 5rem;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  width: 86%;
  justify-self: end;
  margin-right: 2rem;
  margin-top: 1rem;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 2rem;
  padding: 5rem;
  min-height: 10rem;
}

.leftside {
  border-right: solid black 0.1rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
#historylist {
  padding: 1rem;
  margin-right: 6rem;
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 20rem;
}
